<% content_for :style do %><style>
</style><% end %>

<% content_for :js do %><script>

  $(document).ready(function() {
    $('#current').dataTable({
      bPaginate: false,
      bInfo: false,
      aoColumns: [
        {sSortDataType: "sort-num", sType: "numeric"}, null, null,
        {sSortDataType: "sort-num", sType: "numeric"},
        {sSortDataType: "sort-num", sType: "numeric"},
        null, null
      ]
    });
  });

  $.fn.dataTableExt.afnSortData['sort-num'] = function(oSettings, iColumn) {
    var aData = [];
    console.log('called')
    $('td:eq('+iColumn+')', oSettings.oApi._fnGetTrNodes(oSettings)).each( function () {
      console.log($(this).data('sort-num'));
      aData.push($(this).data('sort-num'));
    });
    return aData;
  }

</script><% end %>

<h1>Recent Failures</h1>
<table id='current' class='table table-bordered table-striped table-condensed'>
  <thead><tr>
    <th>Status</th>
    <th>Name</th>
    <th>Team</th>
    <th>Failing for</th>
    <th>Last failed</th>
    <th>Shard count</th>
    <th>Replies</th>
  </tr></thead>
  <tbody>
  <% for fail in Failure.recent %>
  <tr>
    <td data-sort-num='<%= status_sort(fail) %>'><%= fail.status %></td>
    <td><%= link_to fail.fallible.name, :action => 'fallible', :id => fail.fallible.id %></td>
    <td><%= fail.team %></td>
    <td data-sort-num='<%= fail.ended_at - fail.started_at %>'><%= distance_of_time_in_words(fail.started_at, fail.ended_at) %></td>
    <td data-sort-num='<%= fail.ended_at.to_i %>' ><%= time_ago_in_words fail.ended_at %></td>
    <td><%= fail.shard_bodies.count %></td>
    <td><%= reply_list(fail.replies) %></td>
  </tr>
  <% end %>
  </tbody>
</table>
