<% content_for :js do %><script>

  $(function() {
    $('.left_fixie .nav-tabs li:first a').click();

    // make the left pane scrollable if it gets to big.
    // This is an edge case, for most tests I expect the error to fit on one page.
    $(window).resize(function() {
      var tc = $('.left_fixie .tab-content');
      tc.css('height', ($(window).height() - tc.position().top - 30) + 'px');
    }).resize();

    // toggle old replies to this failure
    $('.show_old, .hide_old').click(function() {
      $('.show_old').toggle();
      $('#old_replies').toggle();
      return false;
    });
  })


</script><% end %>

<div class='left_fixie'>
  <table class='header'><tr>
    <td><h2><%= @fal.name %></h2></td>
    <td class='subtext'>since <%= date_in_words(@fal.last_failure.started_at) %></td>
  </tr></table>

  <ul class='nav nav-tabs'>
    <% for sb in @fal.last_failure.shard_bodies %>
      <li><a href="#<%= sb.shard %>" data-toggle='tab'><%= sb.shard %></a></li>
    <% end %>
  </ul>

  <div class='tab-content'>
    <% for sb in @fal.last_failure.shard_bodies %>
      <div class="tab-pane" id="<%= sb.shard %>">
        At <%= date_in_words(sb.last_failed_at) %>:<br/><br/>
        <%= clean_email(sb.body) %>
      </div>
    <% end %>
  </div>

</div>

<div class='right_fluid'>
  <% if @old_replies.any? %>
    <a class='show_old'>Show <%= @old_replies.count %> older replies</a>
    <div id='old_replies'>
      <a class='hide_old'>Hide older replies</a>
      <% for rep in @old_replies %>
        <%= render :partial => 'human_reply', :locals => {:rep => rep} %>
      <% end %>
      <a class='hide_old'>Hide older replies</a>
    </div>
  <% end %>

  <% for rep in @fal.last_failure.replies %>
    <%= render :partial => 'human_reply', :locals => {:rep => rep} %>
  <% end %>
</div>