<!DOCTYPE html>
<html>
<head>
  <title>Failtastic</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>

  <%= csrf_meta_tags %>
  <style type="text/css" media="screen">
    <%= yield(:style).gsub(/<\/?style>/, '').html_safe %>
  </style>

  <%= javascript_include_tag "application" %>
  <%= yield(:header) %>
</head>
<body>

<div id='main'>
  <%= yield %>
</div>

<script type="text/javascript" charset="utf-8">
  <%= yield(:js).gsub(/<\/?script>/, '').html_safe %>
</script>

</body>
</html>
